html{
    box-sizing: border-box;
}
*::before,
*::after,
*{
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: arial, sans-serif;
}

.second-title{
    font-size: 14px;
    line-height: 2px;
    color: #888888; 
} 

.second-title__span::before{
    content: '';
    background-color: #111111;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 2px;
}
.second-title__span::after{
    content: '';
    background-color: #111111;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 2px;
}